sorgente/src/java/it/finmatica/protocollo/integrazioni/ws/DOCAREAProtoSoap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://tempuri.org/" xmlns:intf="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<schema targetNamespace="http://tempuri.org/" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<element name="login">
				<complexType>
					<sequence>
						<element name="strCodEnte" type="xsd:string"/>
						<element name="strUserName" type="xsd:string"/>
						<element name="strPassword" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<complexType name="LoginRet">
				<sequence>
					<element maxOccurs="1" minOccurs="0" name="strDST" nillable="true" type="xsd:string"/>
					<element name="lngErrNumber" type="xsd:long"/>
					<element maxOccurs="1" minOccurs="0" name="strErrString" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<element name="loginResponse">
				<complexType>
					<sequence>
						<element name="LoginResult" type="impl:LoginRet"/>
					</sequence>
				</complexType>
			</element>
			<element name="inserimento">
				<complexType>
					<sequence>
						<element name="strUserName" type="xsd:string"/>
						<element name="strDST" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<complexType name="InserimentoRet">
				<sequence>
					<element name="lngDocID" type="xsd:long"/>
					<element name="lngErrNumber" type="xsd:long"/>
					<element maxOccurs="1" minOccurs="0" name="strErrString" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<element name="inserimentoResponse">
				<complexType>
					<sequence>
						<element name="InserimentoResult" type="impl:InserimentoRet"/>
					</sequence>
				</complexType>
			</element>
			
			<element name="smistamentoAction">
				<complexType>
					<sequence>
						<element name="strUserName" type="xsd:string"/>
						<element name="strDST" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<complexType name="SmistamentoActionRet">
				<sequence>
					<element name="lngDocID" type="xsd:long"/>
					<element name="lngErrNumber" type="xsd:long"/>
					<element maxOccurs="1" minOccurs="0" name="strErrString" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<element name="smistamentoActionResponse">
				<complexType>
					<sequence>
						<element name="SmistamentoActionResult" type="impl:SmistamentoActionRet"/>
					</sequence>
				</complexType>
			</element>
			
			<element name="protocollazione">
				<complexType>
					<sequence>
						<element name="strUserName" type="xsd:string"/>
						<element name="strDST" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<complexType name="ProtocollazioneRet">
				<sequence>
					<element name="lngNumPG" type="xsd:long"/>
					<element name="lngAnnoPG" type="xsd:long"/>
					<element maxOccurs="1" minOccurs="0" name="strDataPG" nillable="true" type="xsd:string"/>
					<element name="lngErrNumber" type="xsd:long"/>
					<element maxOccurs="1" minOccurs="0" name="strErrString" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<element name="protocollazioneResponse">
				<complexType>
					<sequence>
						<element name="ProtocollazioneResult" type="impl:ProtocollazioneRet"/>
					</sequence>
				</complexType>
			</element>
			<element name="aggiungiAllegato">
				<complexType>
					<sequence>
						<element name="strUserName" type="xsd:string"/>
						<element name="strDST" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<complexType name="AggiungiAllegatoRet">
				<sequence>
					<element name="lngNumPG" type="xsd:long"/>
					<element name="lngAnnoPG" type="xsd:long"/>
					<element maxOccurs="1" minOccurs="0" name="strDataPG" nillable="true" type="xsd:string"/>
					<element name="lngErrNumber" type="xsd:long"/>
					<element maxOccurs="1" minOccurs="0" name="strErrString" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<element name="aggiungiAllegatoResponse">
				<complexType>
					<sequence>
						<element name="AggiungiAllegatoResult" type="impl:AggiungiAllegatoRet"/>
					</sequence>
				</complexType>
			</element>
			<element name="sostituisciDocumentoPrincipale">
				<complexType>
					<sequence>
						<element name="strUserName" type="xsd:string"/>
						<element name="strDST" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<complexType name="SostituisciDocumentoPrincipaleRet">
				<sequence>
					<element name="lngNumPG" type="xsd:long"/>
					<element name="lngAnnoPG" type="xsd:long"/>
					<element maxOccurs="1" minOccurs="0" name="strDataPG" nillable="true" type="xsd:string"/>
					<element name="lngErrNumber" type="xsd:long"/>
					<element maxOccurs="1" minOccurs="0" name="strErrString" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
			<element name="sostituisciDocumentoPrincipaleResponse">
				<complexType>
					<sequence>
						<element name="sostituisciDocumentoPrincipaleResult" type="impl:SostituisciDocumentoPrincipaleRet"/>
					</sequence>
				</complexType>
			</element>			
		</schema>
	</wsdl:types>

	<wsdl:message name="loginRequest">
		<wsdl:part element="impl:login" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="protocollazioneRequest">
		<wsdl:part element="impl:protocollazione" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="inserimentoRequest">
		<wsdl:part element="impl:inserimento" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="smistamentoActionRequest">
		<wsdl:part element="impl:smistamentoAction" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="aggiungiAllegatoRequest">
		<wsdl:part element="impl:aggiungiAllegato" name="parameters"/>
	</wsdl:message>  
	<wsdl:message name="sostituisciDocumentoPrincipaleRequest">
		<wsdl:part element="impl:sostituisciDocumentoPrincipale" name="parameters"/>
	</wsdl:message>  


	<wsdl:message name="loginResponse">
		<wsdl:part element="impl:loginResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="protocollazioneResponse">
		<wsdl:part element="impl:protocollazioneResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="inserimentoResponse">
		<wsdl:part element="impl:inserimentoResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="smistamentoActionResponse">
		<wsdl:part element="impl:smistamentoActionResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="aggiungiAllegatoResponse">
		<wsdl:part element="impl:aggiungiAllegatoResponse" name="parameters"/>
	</wsdl:message>  
	<wsdl:message name="sostituisciDocumentoPrincipaleResponse">
		<wsdl:part element="impl:sostituisciDocumentoPrincipaleResponse" name="parameters"/>
	</wsdl:message>  


	<wsdl:portType name="DOCAREAProtoSoap">
		<wsdl:operation name="login" parameterOrder="">
			<wsdl:input message="impl:loginRequest" name="loginRequest"/>
			<wsdl:output message="impl:loginResponse" name="loginResponse"/>
		</wsdl:operation>
		<wsdl:operation name="inserimento" parameterOrder="">
			<wsdl:input message="impl:inserimentoRequest" name="inserimentoRequest"/>
			<wsdl:output message="impl:inserimentoResponse" name="inserimentoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="smistamentoAction" parameterOrder="">
			<wsdl:input message="impl:smistamentoActionRequest" name="smistamentoActionRequest"/>
			<wsdl:output message="impl:smistamentoActionResponse" name="smistamentoActionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="protocollazione" parameterOrder="">
			<wsdl:input message="impl:protocollazioneRequest" name="protocollazioneRequest"/>
			<wsdl:output message="impl:protocollazioneResponse" name="protocollazioneResponse"/>
		</wsdl:operation>
		<wsdl:operation name="aggiungiAllegato" parameterOrder="">
			<wsdl:input message="impl:aggiungiAllegatoRequest" name="aggiungiAllegatoRequest"/>
			<wsdl:output message="impl:aggiungiAllegatoResponse" name="aggiungiAllegatoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="sostituisciDocumentoPrincipale" parameterOrder="">
			<wsdl:input message="impl:sostituisciDocumentoPrincipaleRequest" name="sostituisciDocumentoPrincipaleRequest"/>
			<wsdl:output message="impl:sostituisciDocumentoPrincipaleResponse" name="sostituisciDocumentoPrincipaleResponse"/>
		</wsdl:operation>		
	</wsdl:portType>

	<wsdl:binding name="DOCAREAProtoSoapSoapBinding" type="impl:DOCAREAProtoSoapV2">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="login">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="loginRequest">
				<wsdlsoap:body namespace="http://tempuri.org/" use="literal"/>
			</wsdl:input>
			<wsdl:output name="loginResponse">
				<wsdlsoap:body namespace="http://tempuri.org/" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="inserimento">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="inserimentoRequest">
				<wsdlsoap:body namespace="http://tempuri.org/" use="literal"/>
			</wsdl:input>
			<wsdl:output name="inserimentoResponse">
				<wsdlsoap:body namespace="http://tempuri.org/" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="smistamentoAction">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="smistamentoActionRequest">
				<wsdlsoap:body namespace="http://tempuri.org/" use="literal"/>
			</wsdl:input>
			<wsdl:output name="smistamentoActionResponse">
				<wsdlsoap:body namespace="http://tempuri.org/" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="protocollazione">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="protocollazioneRequest">
				<wsdlsoap:body namespace="http://tempuri.org/" use="literal"/>
			</wsdl:input>
			<wsdl:output name="protocollazioneResponse">
				<wsdlsoap:body namespace="http://tempuri.org/" use="literal"/>
			</wsdl:output>
		</wsdl:operation>


		<wsdl:operation name="aggiungiAllegato">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="aggiungiAllegatoRequest">
				<wsdlsoap:body namespace="http://tempuri.org/" use="literal"/>
			</wsdl:input>
			<wsdl:output name="aggiungiAllegatoResponse">
				<wsdlsoap:body namespace="http://tempuri.org/" use="literal"/>
			</wsdl:output>
		</wsdl:operation>	

		<wsdl:operation name="sostituisciDocumentoPrincipale">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="sostituisciDocumentoPrincipaleRequest">
				<wsdlsoap:body namespace="http://tempuri.org/" use="literal"/>
			</wsdl:input>
			<wsdl:output name="sostituisciDocumentoPrincipaleResponse">
				<wsdlsoap:body namespace="http://tempuri.org/" use="literal"/>
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>
	<wsdl:service name="DOCAREAProto">
		<wsdl:port binding="impl:DOCAREAProtoSoapSoapBinding" name="DOCAREAProtoSoap">
			<wsdlsoap:address location="/JProtocolloDocArea/services/DOCAREAProtoSoap"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>