sorgente/src/main/resources/docAreaExtended/delFilePrincipale.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ROOT">
		<xs:complexType> 
			<xs:sequence> 
				<xs:element name="ID_DOCUMENTO" type="xs:string" /> 
        		<xs:element name="ID_FILE" type="xs:string" />
				<xs:element name="UTENTE" type="xs:string"/> 
			</xs:sequence>
		</xs:complexType>
	</xs:element> 
</xs:schema> 