sorgente/src/main/resources/docAreaExtended/delFascicolo.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ROOT">
		<xs:complexType> 
			<xs:sequence> 
				<xs:choice>  
					<xs:element name="ID_DOCUMENTO" type="xs:string" /> 
					<xs:group ref="FASCICOLO_GRUPPO"/>
				</xs:choice>
				<xs:element name="UTENTE" type="xs:string"/> 
			</xs:sequence>
		</xs:complexType>
	</xs:element> 
	<xs:group name="FASCICOLO_GRUPPO">
			<xs:sequence>
				<xs:element name="CLASS_COD" type="xs:string"  /> 
				<xs:element name="FASCICOLO_ANNO" type="xs:string" /> 
				<xs:element name="FASCICOLO_NUMERO" type="xs:string" /> 
			</xs:sequence>
	</xs:group>
</xs:schema> 