sorgente/src/main/resources/docAreaExtended/getDocumentiProtocollatiResult.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="DOCUMENTI">
		<xs:complexType> 
			<xs:sequence>
				<xs:element ref="DOCUMENTO" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType> 
	</xs:element>
	<xs:element name="DOCUMENTO">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ID_DOCUMENTO" type="xs:string" minOccurs="0"/> 
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>